@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .fullscreen {
            @apply container mx-auto;
            height: calc(100vh - 6rem);
        }
    }
}

@layer components {
    .input {
        @apply
            p-2
            rounded
            border border-primary-400
            ring-primary-200
            hover:ring-2
            focus:outline-none focus:ring
        ;
    }

    .button {
        @apply
            p-2
            block
            rounded
            text-center
            bg-primary-500
            hover:bg-primary-600
        ;
    }
}
